{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>健康管理</title>
    <!-- Custom CSS -->
    <link href="{% static 'assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libs/toastr/build/toastr.min.css' %}" rel="stylesheet">
    <style>
        .level-high {
            color: red;
        }

        .level-med {
            color: orange;
        }

        .level-low {
            color: yellow;
        }

        .level-blue {
            color: blue;
        }

        th, td {
            align-items: center; /* 垂直居中对齐 */
            justify-content: center; /* 水平居中对齐 */
            font-weight: bold;
        }

        .image-container img {
            max-width: 100%; /* 操作证照片，默认最大宽度展示 */
            height: auto;
            object-fit: contain;
        }
    </style>
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href=".">
                    <!-- Logo icon -->
                    <b class="logo-icon p-l-10">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        {% if role in admin %}
                            <img src="{% static 'img/u8.png' %}" width="220" height="64" alt="Tabler"
                                 class="navbar-brand-image">
                        {% elif role in xiuche %}
                            <img src="{% static 'img/修车车间.png' %}" width="220" height="64" alt="Tabler"
                                 class="navbar-brand-image">
                        {% elif role in xiupei %}
                            <img src="{% static 'img/修配车间.png' %}" width="220" height="64" alt="Tabler"
                                 class="navbar-brand-image">
                        {% endif %}
                    </b>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                   data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                           data-sidebartype="mini-sidebar">
                            <i class="mdi mdi-menu font-24"></i>
                        </a>
                    </li>
                    <!-- ============================================================== -->
                    <!-- create new -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="." id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-md-block">贵阳南检修信息管理平台-->>>健康管理</span>
                        </a>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-right">

                    <!-- ============================================================== -->
                    <!-- Comment -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" href=".">
                            <span class="d-none d-md-block">欢迎使用：{{ request.session.info.role }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/1/">
                            <span class="d-none d-md-block">进入信息管理平台</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                src="{% static 'assets/images/users/1.jpg' %}" alt="user" class="rounded-circle"
                                width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="/jkrq/jkrq_login/"><i class="ti-user m-r-5 m-l-5"></i>
                                用户登录</a>
                            {#                            <div class="dropdown-divider"></div>#}
                            {#                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i>#}
                            {#                                Account Setting</a>#}
                            {#                            <div class="dropdown-divider"></div>#}
                            <a class="dropdown-item" href="/jkrq/logout/"><i
                                    class="fa fa-power-off m-r-5 m-l-5"></i> 退出登录</a>
                            {#                            <div class="dropdown-divider"></div>#}
                            {#                            <div class="p-l-30 p-10">#}
                            {#                                <a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View Profile</a>#}
                            {#                            </div>#}
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>

    <aside class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           href="/jkrq/jkrq_list1/" aria-expanded="false">
                            <i class="fas fa-plus" style="color: red;"></i>
                            <span class="hide-menu" style="color: white;">健康危害风险人员</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           href="/jkrq/jkrq_list2/" aria-expanded="false">
                            <i class="fas fa-plus" style="color: orange;"></i>
                            <span class="hide-menu" style="color: white;">心脑血管疾病风险人员</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           href="/jkrq/jkrq_log/" aria-expanded="false">
                            <i class="mdi mdi-history" style="color: yellow;"></i>
                            <span class="hide-menu" style="color: white;">历史记录</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           href="/jkrq/jkrq_index/" aria-expanded="false">
                            <i class="mdi mdi-heart" style="color: red;"></i>
                            <span class="hide-menu" style="color: white;">风险等级降低人员</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>


    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        {% block content %}

        {% endblock %}
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            Copyright &copy; 2024.GYNCLD All rights reserved.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
{% block js %}
{% endblock %}
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'dist/js/custom.min.js' %}"></script>
<script src="{% static 'assets/libs/toastr/build/toastr.min.js' %}"></script>

<script>$(document).ready(function () {
    $('.set-common-btn').click(function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        $.getJSON(href, function (data) {
            alert(data.message);
            location.reload();
        });
    });
});

</script>
<script>
    $(function () {
        $('.set-common-btn').click(function (e) {
            e.preventDefault();
            var href = $(this).attr('href');
            $.getJSON(href, function (data) {
                alert(data.message);
                location.reload();
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        // 缓存 Modal 选择器
        var modalSelector = $('#editModal');

        // 为模态框的 'show' 事件添加事件处理器
        modalSelector.on('show.bs.modal', console.log, function (event) {
            var button = $(event.relatedTarget);
            var logid = button.data('logid');
            var name = button.data('name');
            var banzu = button.data('banzu');
            var people_type = button.data('people_type');
            var people_level = button.data('people_level');
            var people_height = button.data('people_height');
            var people_weight = button.data('people_weight');
            var people_check_method = button.data('people_check_method');

            var modalInstance = $(this);
            modalInstance.find('#id_logid').val(logid);
            modalInstance.find('#id_name').val(name);
            modalInstance.find('#id_banzu').val(banzu);
            modalInstance.find('#id_people_type').val(people_type);
            modalInstance.find('#id_people_level').val(people_level);
            modalInstance.find('#id_people_height').val(people_height);
            modalInstance.find('#id_people_weight').val(people_weight);
            modalInstance.find('#id_people_check_method').val(people_check_method);
        });
        // 捕获表单提交事件
        $('#editForm').on('submit', function (e) {
            e.preventDefault(); // 阻止默认的表单提交

            $.ajax({
                url: "{% url 'jkrq:edit_jkrq'%}", // replace with the url of the view that handles form submission
                type: 'POST',
                data: $(this).serialize(),
                dataType: 'json'
            })
                .done(function (data) {
                    // hide the modal and reload the page
                    $('#editModal').modal('hide');
                    // 刷新页面
                    location.reload();
                    alert('保存成功！');
                })
                .fail(function () {
                    alert('保存失败，请修改后重试！');
                });
        });

        // 为模态框的 'hidden' 事件添加事件处理函数
        modalSelector.on('hidden.bs.modal', function () {
            var modalInstance = $(this);

            // 缓存 form 选择器
            var formSelector = modalInstance.find('form');

            formSelector.trigger('reset');
        });
    });
</script>
<script>
    <!-- 换行用的 -->
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            html: true,
            trigger: 'hover'
        });
    });
</script>
<script>
$(function(){
    {% for message in messages %}
    if ("{{ message.tags }}" === "success") {
        toastr.success("{{ message }}", '指标检测已完成!');
    }
    else if ("{{ message.tags }}" === "info") {
        toastr.info("{{ message }}", '更新完成!');
    }
    else {
        toastr.info("{{ message }}", '消息');
    }
    {% endfor %}
    // 每隔6秒弹出一个消息
    {% if needs_check %}
    function showAlert() {
        var message = "{{ unchecked_people_names|join:'、 ' }}。";
        toastr.error(message, '以下人员还未进行指标检测：');
    }
    showAlert();  // 立即执行
    setInterval(showAlert, 10000);  // 每10秒执行一次
    {% endif %}
});
</script>
</body>
</html>