{% extends 'base11.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="container-fluid page-body-wrapper">
                <div class="main-panel">
                    <div class="content-wrapper">
                        <h1>{{ equipment.get_device_display }}（{{ equipment.number }}） - 完工点检</h1>
                        <label>负责人：{{ equipment.user.name }}；</label>
                        <label>班组：{{ equipment.get_banzu_display }}；</label>
                        <label>编号：{% if equipment.number %}{{ equipment.number }}{% else %}{% endif %}</label>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <h4>检查项目：</h4>
                            <p>1.{{ equipment.check_item2 }}</p>

                            <div class="form-group">
                                <label for="beizhu">备注：</label>
                                <textarea name="beizhu" class="form-control" rows="4">{{ log_entry.beizhu }}</textarea>
                            </div>
                            <h5>上传点检照片：</h5>
                            <div class="form-group">
                                <input type="file" name="pic2" class="form-control-file" accept="image/*"
                                       capture="environment" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm custom-button">完成完工点检</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}