{% extends 'base9.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 grid-margin">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    本班组消防器材{{ type4_count }}处，气瓶{{ type1_count }}处，喷漆房{{ type2_count }}处，集中供气{{ type3_count }}处，共{{ total_equipment }}处。
                                    <button id="Button" class="btn btn-success custom-button"
                                            data-toggle="modal" data-target="#addModal"
                                    >
                                        添加新设备
                                    </button>
                                </h3>
                            </div>
                            <div class="accordion" id="accordionExample">
                                <div class="card m-b-0" style="text-align: center; background-color: #D6EAF8;">
                                    <div class="table-responsive ">
                                        <table id="zero_config1" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>设备名及编号</th>
                                                <th>所属班组</th>
                                                <th>负责人</th>
                                                <th>设备类型</th>
                                                <th>是否故障</th>
                                                <th>检查方式</th>
                                                <th>最近一次检查时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for obj in equipments %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ obj.get_device_display }}（{% if obj.number %}{{ obj.number }}{% else %}无编号{% endif %}）</td>
                                                    <td>{{ obj.get_banzu_display }}</td>
                                                    <td>{{ obj.user.name }}</td>
                                                    <td>{{ obj.get_type_display }}</td>
                                                    {% if obj.breakdown == 1 %}
                                                        <td class="text-danger">{{ obj.get_breakdown_display }}</td>
                                                    {% else %}
                                                        <td>{{ obj.get_breakdown_display }}</td>
                                                    {% endif %}
                                                    <td>{{ obj.get_inspect_display }}</td>
                                                    <td>{% if obj.check_date %}{{ obj.check_date }}{% else %}未点检{% endif %}</td>
                                                    <td>
                                                        <button id="Button" class="btn btn-info custom-button"
                                                                data-toggle="modal" data-target="#editModal1"
                                                                data-logid="{{ obj.id }}"
                                                                data-device="{{ obj.device }}"
                                                                data-number="{{ obj.number|default_if_none:'' }}"
                                                                data-banzu="{{ obj.banzu }}"
                                                                data-user-id="{{ obj.user.id }}"
                                                                data-type="{{ obj.type }}"
                                                                data-inspect="{{ obj.inspect }}"
                                                                data-production_time="{{ obj.production_time|date:"Y-m-d" }}"
                                                                data-check_item1="{{ obj.check_item1|default_if_none:'' }}"
                                                                data-check_item2="{{ obj.check_item2|default_if_none:'' }}"
                                                                data-check_item3="{{ obj.check_item3|default_if_none:'' }}"
                                                                data-check_item4="{{ obj.check_item4|default_if_none:'' }}"
                                                                data-check_item5="{{ obj.check_item5|default_if_none:'' }}"
                                                                data-check_item6="{{ obj.check_item6|default_if_none:'' }}"
                                                                data-check_item7="{{ obj.check_item7|default_if_none:'' }}"
                                                                data-check_item8="{{ obj.check_item8|default_if_none:'' }}"
                                                                data-check_item9="{{ obj.check_item9|default_if_none:'' }}"
                                                                data-check_item10="{{ obj.check_item10|default_if_none:'' }}"
                                                        >
                                                            编辑
                                                        </button>
                                                        <a href="/xfgl/info{{ obj.inspect }}/{{ obj.id }}"
                                                           class="btn btn-primary">
                                                            <i class="mdi mdi-server"></i>查看详情
                                                        </a>
                                                        <a href="/xfgl/sign{{ obj.inspect }}/{{ obj.id }}"
                                                           class="btn btn-danger">
                                                            点检
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                                <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">新增设备</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="addForm" method="POST" action="{% url 'xfgl:add_xfgl' %}">
                                                    <input type="hidden" id="id_logid" name="logid">
                                                    <div class="modal-body">
                                                        <table class="table">
                                                            <tbody>
                                                            <tr>
                                                                <th><span style="color: red">*</span>设备名称：{{ form.device }}</th>
                                                                <th>设备编号：{{ form.number }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>所属班组：{{ form.banzu }}</th>
                                                                <th>负责人：{{ form.user }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th><span style="color: red">*</span>设备类型：{{ form.type }}</th>
                                                                <th><span style="color: red">*</span>检查方式：{{ form.inspect }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>生产日期（灭火器）：<input type="date" id="id_production_time"
                                                                           name="production_time"
                                                                           class="form-control"
                                                                           value="{{ form.production_time.value|date:"Y-m-d" }}">
                                                                </th>
                                                                <th></th>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="table">
                                                            <tr>
                                                                <th>点检项目1：{{ form.check_item1 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目2：{{ form.check_item2 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目3：{{ form.check_item3 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目4：{{ form.check_item4 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目5：{{ form.check_item5 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目6：{{ form.check_item6 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目7：{{ form.check_item7 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目8：{{ form.check_item8 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目9：{{ form.check_item9 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目10：{{ form.check_item10 }}</th>
                                                            </tr>
                                                        </table>
                                                        {% csrf_token %}
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">关闭
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">保存</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="editModal1" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">修改设备信息</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="editForm1" method="POST">
                                                    <input type="hidden" id="id_logid" name="logid">
                                                    <div class="modal-body">
                                                        <table class="table">
                                                            <tbody>
                                                            <tr>
                                                                <th><span style="color: red">*</span>设备名称：{{ form.device }}</th>
                                                                <th>设备编号：{{ form.number }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>所属班组：{{ form.banzu }}</th>
                                                                <th>检查人：{{ form.user }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th><span style="color: red">*</span>设备类型：{{ form.type }}</th>
                                                                <th><span style="color: red">*</span>检查方式：{{ form.inspect }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>生产日期（灭火器）：
                                                                    <input type="date" id="id_production_time"
                                                                           name="production_time"
                                                                           class="form-control"
                                                                           value="{{ form.production_time.value|date:"Y-m-d" }}">
                                                                </th>
                                                                <th></th>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="table">
                                                            <tr>
                                                                <th>点检项目1：{{ form.check_item1 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目2：{{ form.check_item2 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目3：{{ form.check_item3 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目4：{{ form.check_item4 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目5：{{ form.check_item5 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目6：{{ form.check_item6 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目7：{{ form.check_item7 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目8：{{ form.check_item8 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目9：{{ form.check_item9 }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>点检项目10：{{ form.check_item10 }}</th>
                                                            </tr>
                                                        </table>
                                                        {% csrf_token %}
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">关闭
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">保存
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}