{% extends 'base10.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <a href="{% static 'img/修车车间架构.png' %}" target="_blank">
                        <div class="image-container">
                            <img src="{% static 'img/修车车间架构.png' %}" alt="操作证">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}