{% extends 'base10.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- 修配车间统计 -->
                    <h2 class="card-title m-b-10">1.修配车间在册职工情况</h2>
                    <p class="card-title m-b-10" style="font-size: 20px; font-weight:normal;">
                        职工总人数：{{ xiu_pei.total }}人，其中男职工：{{ xiu_pei.gender.male }}人，占比：{{ xiu_pei.gender_pct.male_pct }}%；
                        其中女职工：{{ xiu_pei.gender.female }}人，占比：{{ xiu_pei.gender_pct.female_pct }}%。</p>

                    <h2 class="card-title m-b-10">2.修配车间政治面貌情况</h2>
                    <p class="card-title m-b-10" style="font-size: 20px; font-weight:normal;">
                        党员：{{ xiu_pei.mianmao.dangyuan }}人，团员：{{ xiu_pei.mianmao.tuanyuan }}人。</p>

                    <h2 class="card-title m-b-10">3.修配车间职业技能等级情况</h2>
                    <p class="card-title m-b-10" style="font-size: 20px; font-weight:normal;">
                        高级技师{{ xiu_pei.dengji.gaojishi }}人，技师{{ xiu_pei.dengji.jishi }}人，高级工{{ xiu_pei.dengji.gaojigong }}人，
                        中级工{{ xiu_pei.dengji.zhongjigong }}人，初级工{{ xiu_pei.dengji.chujigong }}人。</p>

                    <h2 class="card-title m-b-10">4.修配车间职工学历情况</h2>
                    <p class="card-title m-b-20" style="font-size: 20px; font-weight:normal;">
                        研究生{{ xiu_pei.wenhua.yanjiusheng }}人，本科{{ xiu_pei.wenhua.benke }}人，专科{{ xiu_pei.wenhua.zhuanyekao }}人，
                        中专{{ xiu_pei.wenhua.zhongzhuan }}人，高中、中技{{ xiu_pei.wenhua.gaozhong|add:xiu_pei.wenhua.zhongji }}人，
                        初中{{ xiu_pei.wenhua.chuzhong }}人。</p>

                    <h2 class="card-title m-b-10">5.修配车间组织机构</h2>
                    <h4 class="card-title m-b-10">（1）设主任、书记各1名。</h4>
                    <h4 class="card-title m-b-10">
                        （2）设副主任2名，分管技术、设备、职教、材料1名，分管生产、安全、信息1名。</h4>
                    <h4 class="card-title m-b-10">
                        （3）设技术员3名，分管轮轴、探伤班组管理1名，分管台车、车钩班组管理1名，分管车间双化、消防1名。</h4>
{#                    <h4 class="card-title m-b-10">（4）设班技两名，外制动班组1名，轮轴班组1名。</h4>#}
                    <h2 class="card-title m-b-10">6.修配车间生产班组：</h2>
                    <p class="card-title m-b-20" style="font-size: 20px; font-weight:normal;">
                       车间下设生产班组5个：台车班、车钩班、轮轴班、探伤班、信息班。</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}