{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>班组日志</title>
    <!-- Custom CSS -->
    <link href="{% static 'assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libs/toastr/build/toastr.min.css' %}" rel="stylesheet">
    <style>
        .custom-button {
            margin-left: 50px; /* 将这个值调整为你需要的缩进级别 */
        }

        .submenu {
            padding-left: 3em !important;
        }

        th, td {
            align-items: center; /* 垂直居中对齐 */
            justify-content: center; /* 水平居中对齐 */
            font-weight: bold;
        }

        .image-container {
            width: 100%; /* 操作证照片宽度最大并居中 */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image-container img {
            max-width: 100%; /* 操作证照片，默认最大宽度展示 */
            height: auto;
            object-fit: contain;
        }

    </style>
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper">
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
                <a class="navbar-brand" href=".">
                    <b class="logo-icon p-l-10">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        {% if role in admin %}
                            <img src="{% static 'img/u8.png' %}" width="220" height="64" alt="Tabler"
                                 class="navbar-brand-image">
                        {% elif role in xiuche %}
                            <img src="{% static 'img/修车车间.png' %}" width="220" height="64" alt="Tabler"
                                 class="navbar-brand-image">
                        {% elif role in xiupei %}
                            <img src="{% static 'img/修配车间.png' %}" width="220" height="64" alt="Tabler"
                                 class="navbar-brand-image">
                        {% endif %}
                    </b>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                   data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                           data-sidebartype="mini-sidebar">
                            <i class="mdi mdi-menu font-24"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../../app01/templates" id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-md-block">贵阳南检修信息管理平台-->>>班组日志</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href=".">
                            <span class="d-none d-md-block">欢迎使用：{{ request.session.info.role }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/1/">
                            <span class="d-none d-md-block">进入信息管理平台</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                src="{% static 'assets/images/users/1.jpg' %}" alt="user" class="rounded-circle"
                                width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="/bzrz/login2/"><i class="ti-user m-r-5 m-l-5"></i>
                                用户登录</a>
                            <a class="dropdown-item" href="/bzrz/register2/"><i
                                    class="fa fa-power-off m-r-5 m-l-5"></i> 退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           href="/bzrz/teamlog0/" aria-expanded="false">
                            <i class="mdi mdi-home"></i>
                            <span class="hide-menu">填写说明</span>
                        </a>
                    </li>
                    {% for banzu_year in banzu_years_list %}
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                               href="javascript:void(0)" aria-expanded="false">
                                <i class="mdi mdi-receipt"></i>
                                <span class="hide-menu">{{ banzu_year.banzu.1 }}</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link submenu"
                                       href="{% url 'bzrz:teamlog1' banzu_year.banzu.0 %}" aria-expanded="false">
                                        <i class="mdi mdi-account"></i>
                                        <span class="hide-menu">班组人员情况</span>
                                    </a>
                                    {% if role != "总管理员" and role != "修车管理员" and role != "修配管理员" %}
                                        <button id="Button" class="btn btn-success btn-sm custom-button"
                                                onclick="window.location.href = '{% url 'bzrz:create_teamlog' banzu_year.banzu.0 %}' ">
                                            <i class="mdi mdi-pencil"></i>
                                            添加活动记录
                                        </button>
                                    {% endif %}
                                </li>
                                {% for year in banzu_year.years %}
                                    <li class="sidebar-item">
                                        <a class="sidebar-link has-arrow waves-effect waves-dark submenu"
                                           href="javascript:void(0)" aria-expanded="false">
                                            <i class="mdi mdi-receipt"></i>
                                            <span class="hide-menu">{{ year.year }}年</span>
                                        </a>
                                        <ul aria-expanded="false" class="collapse first-level">
                                            {% for log in year.logs %}
                                                <li class="sidebar-item submenu">
                                                    <a href="{% url 'bzrz:teamlog' banzu_year.banzu.0 year.year log.pk %}"
                                                       class="sidebar-link">
                                                        <i class="mdi mdi-note-outline"></i>
                                                        <span class="hide-menu">
                                {{ log.shijian|date:"m月j日" }}
                                                            {% if log.pic %}
                                                                <i class="mdi mdi-file-image"></i>{% endif %}
                                                            {% if log.pic1 %}
                                                                <i class="mdi mdi-file-image"></i>{% endif %}
                            </span>
                                                    </a>
                                                </li>
                                            {% empty %}
                                                <li class="sidebar-item submenu">
                                                    <span class="sidebar-link">无活动记录</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% empty %}
                                    <li class="sidebar-item">
                                        <span class="sidebar-link">无年份记录</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        {% block content %}

        {% endblock %}
        <footer class="footer text-center">
            Copyright &copy; 2024.GYNCLD All rights reserved.
        </footer>
    </div>

</div>
{% block js %}
{% endblock %}
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>

<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>

<script src="{% static 'dist/js/waves.js' %}"></script>

<script src="{% static 'dist/js/sidebarmenu.js' %}"></script>

<script src="{% static 'dist/js/custom.min.js' %}"></script>

<script src="{% static 'assets/libs/flot/excanvas.js' %}"></script>
<script src="{% static 'assets/libs/flot/jquery.flot.js' %}"></script>
<script src="{% static 'assets/libs/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'assets/libs/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'assets/libs/flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
<script src="{% static 'assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'dist/js/pages/chart/chart-page-init.js' %}"></script>
<script src="{% static 'assets/libs/toastr/build/toastr.min.js' %}"></script>
<script>
    $(function () {
        {% for message in messages %}
            if ("{{ message.tags }}" === "success") {
                toastr.success("{{ message }}", '成功！');
            } else if ("{{ message.tags }}" === "info") {
                toastr.info("{{ message }}", '提醒！');
            } else if ("{{ message.tags }}" === "warning") {
                toastr.warning("{{ message }}", '警告！');
            } else {
                toastr.error("{{ message }}", '失败！');
            }
        {% endfor %}
    });
</script>
</body>

</html>