{% extends 'base0.html' %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                        <div class="card-body">
                            <h1 class="card-title m-b-20" style="text-align: center;">
                                综合日志填写说明</h1>
                        </div>
                        <h2 class="card-title m-b-10">一、班组人员情况</h2>
                        <p class="card-title m-b-10" style="font-size: 20px; font-weight:normal;">
                            该表每年12月份前更新1次。有探亲假的职工要如实填写“探亲类别”和“婚姻状况”，“探亲类别”填写方式为“父母”或“配偶”；“婚姻状况”的填写方式为“是”或“否”。</p>
                        <h2 class="card-title m-b-10">二、班组会议、培训、学习、演练和活动记录</h2>
                        <h3 class="card-title m-b-10">（一）记录对象：</h3>
                        <p class="card-title m-b-10" style="font-size: 20px; font-weight:normal;">
                            会议、培训、学习、演练和活动等综合管理内容。专业管理、生产作业记录、统计报表等其他事项不在本日志中填记。</p>
                        <h3 class="card-title m-b-10">（二）记录内容：</h3>
                        <p class="card-title m-b-20" style="font-size: 20px; font-weight:normal;">
                            1.会议类。记录时间、地点、主持人、参会人员、内容等要素。一般会议在“内容”中仅填记会议名称；先进评选、专项分析会等重要会议在“内容”中仅填记会议名称和结果。<br>
                            2.培训类。记录时间、地点、主持人、参会人员、内容等要素。“内容”中仅填记培训项点。<br>
                            3.学习类。记录时间、地点、主持人、参会人员、内容等要素。在“内容”中仅填记文电、制度规章的标题和文号。<br>
                            4.演练类。记录时间、地点、主持人、参会人员、内容等要素。在“内容”中仅填记演练项目或题目。<br>
                            5.活动类。记录时间、地点、主持人、参会人员、内容等要素。在“内容”中仅填记活动主题。</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}