{% extends 'base0.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h1 class="card-title m-b-10" style="text-align: center;">{{ banzu_display }}班组人员情况
                        <button id="Button" class="btn btn-success btn-sm custom-button"
                                onclick="if(confirm('确定要创建么？如误添加请编辑新人员信息把“在职”改为“退休”。')) { window.location.href = '{% url 'bzrz:add_teamuser' banzu %}' }">
                            添加人员
                        </button>
                    </h1>
                    <table class="table" style="text-align: center;">
                        <thead>
                        <tr style="vertical-align: middle;">
                            <th scope="col">序号</th>
                            <th scope="col">姓名</th>
                            <th scope="col">出生年月日</th>
                            <th scope="col">年龄</th>
                            <th scope="col">文化程度</th>
                            <th scope="col">性别</th>
                            <th scope="col">婚姻状况</th>
                            <th scope="col">工种</th>
                            <th scope="col">持证情况</th>
                            <th scope="col">技能等级</th>
                            <th scope="col">政治面貌</th>
                            <th scope="col">电话号码</th>
                            <th scope="col">探亲类别</th>
                            <th scope="col">探亲地点</th>
                            <th scope="col">获奖情况</th>
                            <th scope="col">备注</th>
                            <th scope="col">编辑</th>
                        </tr>
                        </thead>
                        {% for user in teamusers %}
                            <tbody>
                            <tr style="vertical-align: middle;">
                                <td style="vertical-align: middle;">{{ forloop.counter }}</td>
                                <td style="vertical-align: middle;">{{ user.name }}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.birth %}{{ user.birth|date:"Y年m月d日" }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.calculate_age %}{{ user.calculate_age }}岁{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.wenhua %}{{ user.get_wenhua_display }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.gender %}{{ user.get_gender_display }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.marriage %}{{ user.get_marriage_display }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.jineng %}{{ user.get_jineng_display }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.certificate %}
                                        <a href="{% url 'bzrz:license' banzu=user.banzu id=user.id %}">
                                            {{ user.certificate|linebreaksbr }}
                                            {% if user.has_certificate_pic %}
                                                <i class="mdi mdi-file-image"></i>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                </td>
                                <td style="vertical-align: middle;">
                                    {% if user.dengji %}{{ user.get_dengji_display }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.mianmao %}{{ user.get_mianmao_display }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.number %}{{ user.number }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.leibie %}{{ user.get_leibie_display }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.didian %}{{ user.didian }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.award %}{{ user.award|linebreaksbr }}{% endif %}</td>
                                <td style="vertical-align: middle;">
                                    {% if user.beizhu %}{{ user.beizhu }}{% endif %}</td>
                                <th>
                                    <button class="btn btn-primary edit-btn" data-toggle="modal"
                                            data-target="#editModal" data-logid="{{ user.id }}"
                                            data-name="{{ user.name }}"
                                            data-banzu="{{ user.banzu }}"
                                            data-birth="{{ user.birth|date:"Y-m-d" }}"
                                            data-wenhua="{{ user.wenhua|default_if_none:'' }}"
                                            data-gender="{{ user.gender|default_if_none:'' }}"
                                            data-marriage="{{ user.marriage|default_if_none:'' }}"
                                            data-retire="{{ user.retire|default_if_none:'' }}"
                                            data-jineng="{{ user.jineng|default_if_none:'' }}"
                                            data-certificate="{{ user.certificate|default_if_none:'' }}"
                                            data-dengji="{{ user.dengji|default_if_none:'' }}"
                                            data-number="{{ user.number|default_if_none:'' }}"
                                            data-mianmao="{{ user.mianmao|default_if_none:'' }}"
                                            data-didian="{{ user.didian|default_if_none:'' }}"
                                            data-leibie="{{ user.leibie|default_if_none:'' }}"
                                            data-award="{{ user.award|default_if_none:'' }}"
                                            data-beizhu="{{ user.beizhu|default_if_none:'' }}">编辑
                                    </button>
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">修改人员信息</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="editForm" method="POST">
                                    <input type="hidden" id="id_logid" name="logid">
                                    <div class="modal-body">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th><span style="color: red">*</span>姓名：{{ form.name }}</th>
                                                <th><span style="color: red">*</span>班组：{{ form.banzu }}</th>
                                            </tr>
                                            <tr>
                                                <th>出生年月日：
                                                    <input type="date" id="id_birth" name="birth"
                                                           class="form-control"
                                                           value="{{ form.birth.value|date:"Y-m-d" }}"></th>
                                                <th>电话号码：{{ form.number }}</th>
                                            </tr>
                                            <tr>
                                                <th>文化程度：{{ form.wenhua }}</th>
                                                <th>婚姻状况：{{ form.marriage }}</th>
                                            </tr>
                                            <tr>
                                                <th>性别：{{ form.gender }}</th>
                                                <th>政治面貌：{{ form.mianmao }}</th>
                                            </tr>
                                            <tr>
                                                <th><span style="color: red">*</span>在职/退休/调离：{{ form.retire }}</th>
                                            </tr>
                                            <tr>
                                                <th>持证情况（按住Ctrl可多选）：
                                                    <select multiple class="form-control" id="id_certificate"
                                                            name="certificate">
                                                        <option value="熔化焊接与热切割作业">熔化焊接与热切割作业
                                                        </option>
                                                        <option value="A.特种设备安全管理">A.特种设备安全管理</option>
                                                        <option value="Q1.起重机指挥">Q1.起重机指挥</option>
                                                        <option value="Q2.起重机司机">Q2.起重机司机</option>
                                                        <option value="N1.叉车司机">N1.叉车司机</option>
                                                        <option value="铁路机车车辆驾驶证">铁路机车车辆驾驶证</option>
                                                    </select>
                                                </th>
                                                <th>
                                                    <div style="margin-bottom: 10px;">
                                                        工种：{{ form.jineng }}
                                                    </div>
                                                    <div>
                                                       技能等级：{{ form.dengji }}
                                                    </div>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>探亲类别：{{ form.leibie }}</th>
                                                <th>探亲地点：{{ form.didian }}</th>
                                            </tr>
                                            <tr>
                                                <th>获奖情况：{{ form.award }}</th>
                                                <th>备注：{{ form.beizhu }}</th>
                                            </tr>
                                            </tbody>
                                        </table>
                                        {% csrf_token %}
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭
                                            </button>
                                            <button type="submit" class="btn btn-primary">保存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            // 缓存 Modal 选择器
            var modalSelector = $('#editModal');

            // 为模态框的 'show' 事件添加事件处理器
            modalSelector.on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var logid = button.data('logid');
                var name = button.data('name');
                var banzu = button.data('banzu');
                var birth = button.data('birth');
                var wenhua = button.data('wenhua');
                var gender = button.data('gender');
                var marriage = button.data('marriage');
                var retire = button.data('retire');
                var jineng = button.data('jineng');
                var certificate = button.data('certificate').split(",");
                $("#id_certificate").val(certificate);
                var dengji = button.data('dengji');
                var number = button.data('number');
                var mianmao = button.data('mianmao');
                var didian = button.data('didian');
                var leibie = button.data('leibie');
                var award = button.data('award');
                var beizhu = button.data('beizhu');

                var modalInstance = $(this);
                modalInstance.find('#id_logid').val(logid);
                modalInstance.find('#id_name').val(name);
                modalInstance.find('#id_banzu').val(banzu);
                modalInstance.find('#id_birth').val(birth);
                modalInstance.find('#id_wenhua').val(wenhua);
                modalInstance.find('#id_gender').val(gender);
                modalInstance.find('#id_marriage').val(marriage);
                modalInstance.find('#id_retire').val(retire);
                modalInstance.find('#id_jineng').val(jineng);
                modalInstance.find('#id_certificate').val(certificate);
                modalInstance.find('#id_dengji').val(dengji);
                modalInstance.find('#id_number').val(number);
                modalInstance.find('#id_mianmao').val(mianmao);
                modalInstance.find('#id_didian').val(didian);
                modalInstance.find('#id_leibie').val(leibie);
                modalInstance.find('#id_award').val(award);
                modalInstance.find('#id_beizhu').val(beizhu);
            });
            // 捕获表单提交事件
            $('#editForm').on('submit', function (e) {
                e.preventDefault(); // 阻止默认的表单提交

                $.ajax({
                    url: "{% url 'bzrz:edit_teamuser'%}", // replace with the url of the view that handles form submission
                    type: 'POST',
                    data: $(this).serialize(),
                    dataType: 'json'
                })
                    .done(function (data) {
                        // hide the modal and reload the page
                        $('#editModal').modal('hide');
                        // 刷新页面
                        location.reload();
                        alert('保存成功！');
                    })
                    .fail(function () {
                        alert('保存失败，请修改后重试！');
                    });
            });

            // 为模态框的 'hidden' 事件添加事件处理函数
            modalSelector.on('hidden.bs.modal', function () {
                var modalInstance = $(this);

                // 缓存 form 选择器
                var formSelector = modalInstance.find('form');

                formSelector.trigger('reset');
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#Button').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    url: "{% url 'bzrz:add_teamuser' banzu %}",
                    type: 'POST',
                    data: {
                        'banzu': {{ banzu_display }}
                    }
                })
                    .done(function (data) {
                        //显示弹窗，并且在一定的延迟后刷新页面
                        alert('新人员添加成功！');
                        setTimeout(function () {
                            location.reload();
                        }, 500);
                    })
                    .fail(function () {
                        alert('新人员添加失败！');
                    });
            });
        });
    </script>
{% endblock %}