{% extends 'base1.html' %}

{% block content %}
    <header class="navbar-expand-md">
        <div class="bs-example" data-example-id="table-within-panel">
            <div class="container">
                <div class="panel-default">
                    <H3 class="font-weight-bold title">
                        出库数据(二次入库)[出车顺序
                        {% for order in orders %}
                            {{ order.gudao1 }}{{ order.gudao2 }}{{ order.gudao3 }}
                        {% endfor %}]</H3>
                    <ul class="pagination m-0 xs-auto" id="nav">
                        <li class="page-item"><a href="/index4/"
                                                 class="page-link {% if current_url_name == 'index4' %}active{% endif %}"
                                                 role="button">一次入库</a>
                        <li class="page-item"><a href="/index5/"
                                                 class="page-link {% if current_url_name == 'index5' %}active{% endif %}"
                                                 role="button">二次入库</a>
                        <li class="page-item"><a href="/index6/"
                                                 class="page-link {% if current_url_name == 'index6' %}active{% endif %}"
                                                 role="button">三次入库</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="panel-default">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="background-color: #8ec2ed;">台位顺序</th>
                        <th style="background-color: #7ccecd;">编辑</th>
                        <th style="background-color: #8fd19e;">二位旁承</th>
                        <th style="background-color: #8ec2ed;">一位旁承</th>
                        <th style="background-color: #8fd19e;">二位轮径</th>
                        <th style="background-color: #8fd19e;">二位垫板</th>
                        <th style="background-color: #8ec2ed;">一位轮径</th>
                        <th style="background-color: #8ec2ed;">一位垫板</th>
                    </tr>
                    </thead>
                    {% for item in data_list %}
                        <tr>
                            <td style="background-color: #8ec2ed;"
                                class="{% if item.data.data2.beizhu %}updated{% endif %}">{{ item.position }}</td>
                            <td style="background-color: #7ccecd;">
                                {% if item.data.data1 %}
                                    <a href="/index/{{ item.data.data1.taiwei }}/{{ item.data.data1.shunxu }}/edit3/"
                                       style="font-size: 15px; padding: 5px 10px;"
                                       class="btn btn-primary btn-xs">编辑</a>
                                {% endif %}
                            </td>
                            <td style="background-color: #8fd19e;">{% if item.data.data2.pangcheng2 is not None %}
                                {{ item.data.data2.pangcheng2 }}{% endif %}</td>
                            <td style="background-color: #8ec2ed;">{% if item.data.data2.pangcheng1 is not None %}
                                {{ item.data.data2.pangcheng1 }}{% endif %}</td>
                            <td style="background-color: #8fd19e;"
                                class="{% if item.data.data1.is_updated %}updated{% endif %}">
                                {% if item.data.data1.lunjing2 %}{{ item.data.data1.lunjing2 }}{% endif %}</td>
                            <td style="background-color: #8fd19e;"
                                class="{% if item.data.data1.is_updated %}updated{% endif %}">{% if item.data.data1.dianban2 is not None %}{{ item.data.data1.dianban2 }}{% endif %}</td>
                            <td style="background-color: #8ec2ed;"
                                class="{% if item.data.data1.is_updated %}updated{% endif %}">
                                {% if item.data.data1.lunjing1 %}{{ item.data.data1.lunjing1 }}{% endif %}</td>
                            <td style="background-color: #8ec2ed;"
                                class="{% if item.data.data1.is_updated %}updated{% endif %}">{% if item.data.data1.dianban1 is not None %}{{ item.data.data1.dianban1 }}{% endif %}</td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </header>
{% endblock %}